

/* text & colors */
html { background-color:#fff; }
body { font-size:12px; line-height:1.5; color:#333; background-color:transparent; }

#main { width:984px; margin:0 auto; zoom:1; }
#main .maincap { position:absolute; width:984px; left:0; z-index:5; font-size:1px; }
#main:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }

h1, h2, h3, h4, h5, h6 { color:#000; }
h1 { margin-bottom:.3em; font-size:3em; line-height:1.4; font-weight:normal; }
h2 { margin-bottom:.3em; font-size:2em; line-height:1.4; font-weight:normal; }
h3 { margin-bottom:.3em; font-size:1.3em; line-height:1.4; }
h4 { font-size:1em; line-height:1.5; }
h5 {}
h6 {}
.replaced { display:block; width:1px; height:1px; outline:none; overflow:hidden; text-indent:-9999px; }
cite { font-style:italic; }

ul { margin-bottom:0; }
ul.square,
ul.circle { margin-bottom:1.5em; }
ul ul.circle,
ul ul.square { margin-top:.5em; margin-bottom:1em; }

p { margin-bottom:1.5em; }
p.intro { color:#888; font-size:16px; line-height:1.4; font-weight:normal; }
#main .sidebar { color:#333; }

sup, sup a { color:#888; }
sup a:hover { color:#08c; text-decoration:none; }
.sosumi { color:#888; line-height:1.5; }
.sosumi_features { color:#888; line-height:1.5; }

body.specs #content { font-size:11px; line-height:1.5; }
body.specs #content h4 { font-size:12px; line-height:1.5; }

#content strong { color:#000; }

/* layout */
.content { -webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 3px; -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px; background: #fff; }
@-moz-document url-prefix() { .content { border: 1px solid; border-color: #e5e5e5 #dbdbdb #d2d2d2;  } } /* FF2 */
.content { *border: 1px solid; *border-color: #e5e5e5 #dbdbdb #d2d2d2; } /* IEs */
.content:nth-child(1n) { border: none; } /* reset for smart browsers */

.content,
.rounded,
.article .box { border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -khtml-border-radius: 4px; }

.graybox,
.callout { border-radius: 7px; -webkit-border-radius: 7px; -moz-border-radius: 7px; -o-border-radius: 7px; -khtml-border-radius: 7px; }

.roundedtop { border-radius: 4px 4px 0 0; -webkit-border-top-left-radius:4px; -webkit-border-top-right-radius:4px; -moz-border-radius: 4px 4px 0 0; -o-border-radius: 4px 4px 0 0; -khtml-border-radius: 4px 4px 0 0; }
.roundedbottom { border-radius: 0 0 4px 4px; -webkit-border-bottom-left-radius:4px; -webkit-border-bottom-right-radius:4px; -moz-border-radius: 0 0 4px 4px; -o-border-radius: 0 0 4px 4px; -khtml-border-radius: 0 0 4px 4px; }
.roundedright { border-radius: 0 4px 4px 0; -webkit-border-top-right-radius:4px; -webkit-border-bottom-right-radius:4px; -moz-border-radius: 0 4px 4px 0; -o-border-radius: 0 4px 4px 0; -khtml-border-radius: 0 4px 4px 0; }
.roundedleft { border-radius: 4px 0 0 4px; -webkit-border-top-left-radius:4px; -webkit-border-bottom-left-radius:4px; -moz-border-radius: 4px 0 0 4px; -o-border-radius: 4px 0 0 4px; -khtml-border-radius: 4px 0 0 4px; }

/* productheader */
#productheader { border:0; }
#productheader ul li a { color:#333; margin-left:30px; }
#productheader ul li a:hover { color:#08c !important; }

/* global footer */
#directorynav { font-size:11px; line-height:18px; }
#directorynav h3 { margin:0; font-size:1em; line-height:18px; }


/* for ac quicktime
------------------------*/
/* new controller */
.controllerPanel { position:absolute; display:block; width:100%; height:12px; bottom:0; }
.controllerPanel .ACQuicktimeController { width:auto !important; height:12px !important; padding:0; margin:0 68px 0 16px; background:none !important; }
.controllerPanel .ACQuicktimeController.ccAvailable { margin-right:106px; }

.controllerPanel .control { position:absolute; width:10px; height:10px; left:-16px; margin-top:1px; background:url(http://images.apple.com/global/elements/quicktime/qt_playpause.gif) 0 0 no-repeat; }
.controllerPanel .control.pause { background-position:left -10px; }

.controllerPanel .sliderPanel { top:0; left:0; width:100%; height:12px; }
.controllerPanel .sliderPanel .track,
.controllerPanel .sliderPanel .track .loadedProgress { border-radius:6px; -webkit-border-radius:6px; -moz-border-radius:6px; -o-border-radius:6px; -khtml-border-radius:6px; }
.controllerPanel .sliderPanel .track { position:absolute; left:0; width:100%; height:12px; background:url(http://images.apple.com/global/elements/quicktime/qt_bgtrack_load.gif) 0 0 repeat-x; }
.controllerPanel .sliderPanel .track .loadedProgress { position:absolute; top:0; min-width:12px; height:12px; background:url(http://images.apple.com/global/elements/quicktime/qt_bgtrack.gif) 0 0 repeat-x; }
.controllerPanel .sliderPanel .track .trackProgress { display:none; }
.controllerPanel .sliderPanel .track .playHead { position:absolute; top:0; margin:0 1px; width:13px; height:12px; background:url(http://images.apple.com/global/elements/quicktime/qt_pointer.png) 0 0 no-repeat; }

.controllerPanel .timeDisplay { top:-2px; right:-68px; width:62px; height:20px; font-size:11px; color:#777; text-align:center; }
.controllerPanel .timeDisplay span { padding:0 3px; }

.controllerPanel .captioningToggle,
.controllerPanel .captioningToggle.ccAvailable { left:auto; top:-4px; right:-106px; }

/* new new controller */
.movie { position:relative; padding-bottom:37px; }
.movie .controllerPanel { position:absolute; height:29px; left:0; background:url(http://images.apple.com/ilife/images/qt_bg20090106.png) 0 100% repeat-x; }
.movie .controllerPanel .ACQuicktimeController { position:relative; height:29px !important; margin:0 83px 0 46px; }
.movie .controllerPanel .ACQuicktimeController.ccAvailable { margin-right:120px; }

.movie .controllerPanel .control { width:31px; height:19px; top:4px; left:-39px; background:url(http://images.apple.com/global/elements/quicktime/quicktime_playpause.png) 0 0 no-repeat; behavior:none; }
.movie .controllerPanel .control.pause { background-position:left -19px; }

.movie .controllerPanel .sliderPanel { top:11px; height:7px; }
.movie .controllerPanel .sliderPanel .track,
.movie .controllerPanel .sliderPanel .track .loadedProgress,
.movie .controllerPanel .sliderPanel .track .trackProgress { height:7px; min-width:6px; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -o-border-radius:3px; -khtml-border-radius:3px; }
.movie .controllerPanel .sliderPanel .track { border-right:1px solid #bdbdbd; border-left:1px solid #bdbdbd; background:url(http://images.apple.com/global/elements/quicktime/quicktime_track.png) 0 0 repeat-x; }
.movie .controllerPanel .sliderPanel .track .loadedProgress { border-right:1px solid #b7b7b7; border-left:1px solid #b7b7b7; background:url(http://images.apple.com/global/elements/quicktime/quicktime_track_load.png) 0 0 repeat-x; }
.movie .controllerPanel .sliderPanel .track .trackProgress { display:block; position:absolute; border-right:1px solid #868686; border-left:1px solid #868686; background:url(http://images.apple.com/global/elements/quicktime/quicktime_track_prog.png) 0 0 repeat-x; }
.movie .controllerPanel .sliderPanel .track .playHead { top:-3px; width:11px; height:12px; background:url(http://images.apple.com/global/elements/quicktime/quicktime_pointer.png) 0 0 no-repeat; behavior:url(/global/scripts/lib/iepngfix.htc); }

.movie .controllerPanel .timeDisplay { top:6px; right:-75px; }

.movie .controllerPanel .captioningToggle,
.movie .controllerPanel .captioningToggle.ccAvailable { top:4px; right:-112px; }


/* swap view default states
---------------------------*/

/* loading state */
.moviePanel.movie-loading { position:relative; background:url(http://images.apple.com/global/elements/quicktime/qt_loading640x360.gif) no-repeat 50% 50%; padding:15px 0; }
.moviePanel.movie-loading object,
.moviePanel.movie-loading embed { width:2px; height:2px; }
.controllerPanel .ACQuicktimeController,
.controllerPanel .ACQuicktimeCircularController { background:none !important; }

/* end state */
.endState { position:relative; background:url(http://images.apple.com/global/elements/quicktime/qt_endstate640x360.jpg) no-repeat 50% 50%; }
.endState img { position:absolute; left:0; top:0; }
.endState ul, .endState li, .endState p { position:relative; margin-bottom:0; text-align:center; }
.endState ul { padding-top:22%; }
.endState p { padding-top:27%; }

/* download links */
a.quicktime-download { display:block; width:300px; margin:-36px -150px; padding:20px 0; color:#333; text-align:center; background:#fff; font:26px "Myriad Pro", "MyriadPro", "Lucida Grande", "Lucida Sans Unicode", arial, verdana, sans-serif; font-weight:500; }
a.quicktime-download:hover { color:#08c; text-decoration:none; }

.moviePanel { position:relative; }
.moviePanel a.quicktime-download { position:absolute; top:50%; left:50%; }

/* pillbuttons */
a.pillbutton { display:inline-block; position:relative; padding-right:43px; font-size:15px; line-height:1.3em; color:#fff; text-decoration:none; outline:none; z-index:2; }
a.pillbutton, x:-moz-any-link { display:block; width:14em; margin:0 auto; } /* this is for firefox2 because inline-block doesn't work */
a.pillbutton, x:-moz-any-link, x:default { display:inline-block; width:auto; } /* firefox3 reset */
a.pillbutton span,
a.pillbutton b { display:block; width:auto; padding:15px 0; text-align:left; }
a.pillbutton span { padding-right:8px; padding-left:25px; background:url(http://images.apple.com/global/elements/buttons/pillbevel_leftcap.png) no-repeat 0 50%; _background-image:url(http://images.apple.com/global/elements/buttons/pill_leftcap.gif); }
a.pillbutton b { position:absolute; width:43px; top:0; right:0; text-indent:-9999px; background:url(http://images.apple.com/global/elements/buttons/pillbevel_rightcap.png) no-repeat 0 50%; _background-image:url(http://images.apple.com/global/elements/buttons/pill_rightcap.gif); }
a.pillbutton:hover, a.pillbutton:focus { color:#e6e6e6; }












/* RESET */
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th { font-size: 1em; font-weight: normal; font-style: normal; }
ul,ol { list-style: none; }
fieldset,img { border: none; }
caption,th { text-align: left; }
table { border-collapse: collapse; border-spacing: 0; }

/* LAYOUT */
.clear { clear: both; }
.clearer { clear: both; display: block; margin: 0; padding: 0; height: 0; line-height: 1px; font-size: 1px; }

img, .search-wrapper .left, .search-wrapper .right, ul.sp-results li.viewall a, ul.sp-results li .replacementimg, 
#globalfooter #breadcrumbs, #globalfooter #breadcrumbs span, #directorynav .capbottom, 
#productheader h1 a, #productheader h2 a, 
#productheader a.buynow, #productheader a.ordernow, #productheader a.joinnow, #productheader a.preorder, 
#productheader a.freetrial, #productheader a.downloadnow, #productheader a.upgradenow, #productheader a.notifyme { behavior: url(/global/scripts/lib/iepngfix.htc); }

img { border: 0; }
img.left { float: left; margin: 2px 20px 16px 0; }
img.right { float: right; margin: 2px 0 16px 20px; }
img.across { margin: 2px 0 16px 0; }
img.flushleft { margin-left: -20px; }
img.flushright { margin-right: -20px; }

#omniture, #top { position: absolute; top: 0; }
#container { width: 980px; margin: 0 auto; position: relative; }
#main { width: 100%; position: relative; }
#content { padding: 18px 20px; position: relative; color: #333; }
#breadcrumb { clear: both; text-align: center; margin: 18px auto; clear: both; font-size: 10px; color: #686868; }

/* GRID */
.column { float: left; }
.grid2col, .grid2cola, .grid2colb, .grid2colc, .grid2cold, .grid2cole, .grid2colf, .grid3col, .grid3cola, .grid4col, .grid5col, .grid6col { width: 100%; }

.grid2col .column { width: 49%; }
.grid2col .grid2col .column { width: 47.8%; }
.grid3col .grid2col .column { width: 46%; }
.grid4col .grid2col .column { width: 45%; }

.grid2cola .column.first { width: 66%; }
.grid2cola .column.last { width: 32%; }

.grid2colb .column.first { width: 74.9%; }
.grid2colb .column.last { width: 23%; }

.grid2colc .column.first { width: 32%; }
.grid2colc .column.last { width: 66%; }

.grid2cold .column.first { width: 23%; }
.grid2cold .column.last { width: 74.9%; }

.grid2cole .column.first { width: 79%; }
.grid2cole .column.last { width: 19%; }

.grid2colf .column.first { width: 19%; }
.grid2colf .column.last { width: 79%; }

.grid3col .column { width: 32%; margin-left: 2%; }
.grid2col .grid3col .column { width: 31%; }

.grid3cola .column { width: 58%; margin-left: 2%; }
.grid3cola .column.first,
.grid3cola .column.last { width: 19%; }

.grid4col .column { width: 23%; margin-left: 3%; }

.grid5col .column { width: 18.4%; margin-left: 2%; }

.grid6col .column { width: 15%; margin-left: 2%; }

.column.first, .column.last { margin-left: 0 !important; }
.column.last { float: right !important; }

p.last, ul.last, ol.last, li.last { _width: auto !important; _float: none !important; }

#container:after, #content:after, .grid2col:after, .grid2cola:after, .grid2colb:after, .grid2colc:after, .grid2cold:after, .grid2cole:after, .grid2colf:after, .grid3col:after, .grid3cola:after, .grid4col:after, .grid5col:after, .grid6col:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
#container, #content, .grid2col, .grid2cola, .grid2colb, .grid2colc, .grid2cold, .grid2cole, .grid2colf, .grid3col, .grid3cola, .grid4col, .grid5col, .grid6col { zoom: 1; }

/* TYPE */
body { font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif; background-color: #fff; color: #333; }

a { color: #08c; }
a:link, a:visited, a:active { text-decoration: none; }
a:hover { text-decoration: underline; }
a.more { white-space: nowrap; padding-right: 10px; background: url(http://images.apple.com/global/elements/arrows/morearrow_08c.gif) no-repeat 100% 50%; zoom: 1; }
a.external { white-space: nowrap; padding-right: 15px; background: url(http://images.apple.com/global/elements/icons/external10x10.gif) no-repeat 100% 49%; zoom: 1; }
a[rel="external"] { white-space: nowrap; padding-right: 15px; background: url(http://images.apple.com/global/elements/icons/external10x10.gif) no-repeat 100% 49%; zoom: 1; }
strong, b { font-weight: bold; }
em, i { font-style: italic; }
sup { padding-left: 1px; font-size: 10px !important; font-weight: normal !important; vertical-align: baseline; position: relative; bottom: 0.33em; color: #76797c; _position: static !important; }
abbr { border: 0; }
.sosumi { font-size: 10px !important; color:#76797c; }
.sosumi_features { font-size: 10px !important; color:#76797c; }

p { margin-bottom: 18px; }
h1 { font-weight: bold; font-size: 24px; line-height: 36px; margin-bottom: 18px; }
h2 { font-weight: bold; font-size: 16px; line-height: 18px; margin-bottom: 18px; }
h3 { font-weight: bold; font-size: 1em; line-height: 18px; }
h4 { font-weight: bold; font-size: 10px; line-height: 18px; }
p.intro { font-weight: bold; }
.more { text-align: right;}

ul { margin-bottom: 18px; list-style: none outside; }
ol { margin-bottom: 18px; list-style: decimal; margin-left: 2.2em; }
ul.square,
ul.circle { margin-left: 2em; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul ul.circle,
ul ul.square { margin-top: 4px; margin-bottom: 5px; }
ol.sosumi { margin-left: 0; padding-left: 2em; }

a.pdf { background: url(http://images.apple.com/global/elements/icons/globaliconpdf12x12.gif) 0 0.4em no-repeat; display: block; padding-left: 20px; }
a.html { background: url(http://images.apple.com/global/elements/icons/globaliconhtml12x12.gif) 0 0.4em no-repeat; display: block; padding-left: 20px; }
a.qt { background: url(http://images.apple.com/global/elements/icons/globaliconqt12x12.gif) 0 0.4em no-repeat; display: block; padding-left: 20px; }
a.ical { background: url(http://images.apple.com/global/elements/icons/globaliconical12x12.gif) 0 0.4em no-repeat; display: block; padding-left: 20px; }
a.dl { background: url(http://images.apple.com/global/elements/icons/globalicondl11x10.gif) 0 0.4em no-repeat; display: block; padding-left: 20px; }
a.dmg { background: url(http://images.apple.com/global/elements/icons/globalicondmg12x12.gif) 0 0.4em no-repeat; display: block; padding-left: 20px; }
a.zip { background: url(http://images.apple.com/global/elements/icons/globaliconzip12x12.gif) 0 0.4em no-repeat; display: block; padding-left: 20px; }
a.keynote { background: url(http://images.apple.com/global/elements/icons/globaliconkeynote12x12.gif) 0 0.4em no-repeat; display: block; padding-left: 20px; }
a.audio { background: url(http://images.apple.com/global/elements/icons/globaliconaudio12x12.gif) 0 0.4em no-repeat; display: block; padding-left: 20px; }

.last { margin-bottom: 0; }
#main .sidebar { font-size: 10px; line-height: 18px; color:#686868; }
#main .callout { font-size: 11px; line-height: 18px; margin-bottom: 18px; }

/* PIPED LINKS */
.piped { display: block; zoom: 1; }
.piped:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.piped li { float: left; display: inline; }
.piped a { border-left: 1px solid #797c80; padding: 0 0 0 0.75em; margin-left: 0.75em; }
.piped a.first { border-left: 0 !important; padding-left: 0; margin-left: 0 !important; }



/* GLOBALHEADER */
#globalheader { width: 982px; height: 38px; margin: 18px auto; position: relative; z-index: 9998; }
#globalheader #globalnav { margin: 0; padding: 0; }
#globalheader #globalnav li { display: inline; }
#globalheader #globalnav li a { float: left; width: 117px; height: 0; padding-top: 38px; overflow: hidden; }
#globalheader #globalnav li a,
#globalheader #globalsearch { background-image: url(http://images.apple.com/global/nav/images/globalnavbg.png); _background-image: url(http://images.apple.com/global/nav/images/globalnavbg.gif); background-repeat: no-repeat; }

/* BUTTONS */
#globalheader #globalnav li#gn-store a { background-position: 0 0; }
#globalheader #globalnav li#gn-store a { background-position: -117px 0; }
#globalheader #globalnav li#gn-mac a { background-position: -234px 0; }
#globalheader #globalnav li#gn-ipoditunes a { background-position: -351px 0; }
#globalheader #globalnav li#gn-iphone a { background-position: -468px 0; }
#globalheader #globalnav li#gn-downloads a { background-position: -585px 0; }
#globalheader #globalnav li#gn-support a { background-position: -702px 0; }

/* OVER STATES */
#globalheader #globalnav li#gn-apple a:hover { background-position: 0 -38px; }
#globalheader #globalnav li#gn-store a:hover { background-position: -117px -38px; }
#globalheader #globalnav li#gn-mac a:hover { background-position: -234px -38px; }
#globalheader #globalnav li#gn-ipoditunes a:hover { background-position: -351px -38px; }
#globalheader #globalnav li#gn-iphone a:hover { background-position: -468px -38px; }
#globalheader #globalnav li#gn-downloads a:hover { background-position: -585px -38px; }
#globalheader #globalnav li#gn-support a:hover { background-position: -702px -38px; }

/* PRESSED STATES */
#globalheader #globalnav li#gn-apple a:active { background-position: 0 -76px; }
#globalheader #globalnav li#gn-store a:active { background-position: -117px -76px; }
#globalheader #globalnav li#gn-mac a:active { background-position: -234px -76px; }
#globalheader #globalnav li#gn-ipoditunes a:active { background-position: -351px -76px; }
#globalheader #globalnav li#gn-iphone a:active { background-position: -468px -76px; }
#globalheader #globalnav li#gn-downloads a:active { background-position: -585px -76px; }
#globalheader #globalnav li#gn-support a:active { background-position: -702px -76px; }

/* ON STATES */
#globalheader.home #globalnav li#gn-apple a:hover { background-position: 0 0; cursor: default; }
#globalheader.store #globalnav li#gn-store a { background-position: -117px -114px !important; }
#globalheader.mac #globalnav li#gn-mac a { background-position: -234px -114px !important; }
#globalheader.ipoditunes #globalnav li#gn-ipoditunes a { background-position: -351px -114px !important; }
#globalheader.iphone #globalnav li#gn-iphone a { background-position: -468px -114px !important; }
#globalheader.downloads #globalnav li#gn-downloads a { background-position: -585px -114px !important; }
#globalheader.support #globalnav li#gn-support a { background-position: -702px -114px !important; }

/* Testing everywhere search */
input[type=search].not-round { /*background: #ABABAB;*/ height: 19px; outline: none; -webkit-border-radius: 9px; -webkit-border-image: url(http://images.apple.com/global/elements/prettysearch/searchfield_border.png) 2 2 2 2 stretch stretch; width: 200px; }

/* GLOBAL SEARCH */
#globalsearch { width: 163px; height: 38px; position: absolute; top: 0; right: 0; background-position: 100% 0; background-repeat: no-repeat; }
#globalsearch.active { background-position: 100% -38px; }
#globalsearch input.g-prettysearch, #globalsearch .search-wrapper input.g-prettysearch {background: url(http://images.apple.com/global/nav/images/searchfield_repeat.png) center top repeat-x; }
#globalsearch input.g-prettysearch { width:140px; height: 16px; margin-top: 9px; margin-left: 11px; }
#globalsearch .search-wrapper { position: relative; width: 140px; margin-top: 9px; margin-left: 11px; }
#globalsearch .search-wrapper input.g-prettysearch { width: 110px; margin-left: 20px; *margin-top:-1px; *margin-right:-2px; *margin-left:10px; }
#globalsearch .search-wrapper .left, 
#globalsearch .search-wrapper .left { display: block; position: absolute; left: 0; top: 0; width: 20px; height: 19px; background: url(http://images.apple.com/global/nav/images/searchfield_leftcap.png) left top no-repeat; }
#globalsearch .search-wrapper .right { display: block; position: absolute; right: 0; top: 0; width: 10px; height: 19px; background: url(http://images.apple.com/global/nav/images/searchfield_rightcap.png) right top no-repeat; }
#globalsearch .search-wrapper.empty.blurred input { color: #7E7E7E; }
#globalsearch .search-wrapper .reset { position: absolute; width: 11px; height: 11px; overflow:hidden; z-index: 1; right: 4px; top: 4px; background: url(http://images.apple.com/global/nav/images/close.gif); display: block; cursor: pointer; _cursor:hand; }
#globalsearch .search-wrapper.empty .reset { display: none; }
#globalsearch .search-wrapper input.g-prettysearch { position: absolute; width: 110px; top: 0; right: 10px; border: 0px; margin: 0; padding: 3px 0 0 0; font: 11px "Lucida Grande", Arial, sans-serif; }
#globalsearch label .prettyplaceholder { display: block; overflow: hidden; text-indent: -9999px; height: 0; width: 0;}

#globalsearch input[type=search].not-round { background: #ABABAB; height: 19px; outline: none; -webkit-border-radius: 9px; -webkit-border-image: url(http://images.apple.com/global/elements/prettysearch/searchfield_border.png) 2 2 2 2 stretch stretch; width: 133px; }

/* SEARCH SHORTCUTS */
#sp-results { position: absolute; margin-right: -2px; margin-bottom: 0; margin-left: 0; top: 61px; left: 165px; height: 0; }
#sp-results .inside { width: 328px; height: auto; position: absolute; top: 0; right: 0; line-height: 1px; font-size: 1px; }
#sp-results .resultCat { position: relative; color: #f6f6f6; background: #919191; width: 308px; height: 8px; margin: 0; padding-bottom: 12px; width: 302px; font: 11px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif; font-weight: bold; border: 1px none #fb6bff; }
ul.sp-results { background: url(http://images.apple.com/global/nav/images/shortcuts_bg_mid_grey.png) repeat-y 0 0; _background: url(http://images.apple.com/global/nav/images/shortcuts_bg_mid_grey.gif) repeat-y 0 0; color: #333; padding: 0 3px; margin: 0; width: 328px; text-align: left; font: 10px/14px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif; }
ul.sp-results li { margin: 0 0 -3px 0; padding: 5px 10px; list-style-type: none; height: 4.6em; position: relative; border-left: 1px solid #919191; border-right: 1px solid #919191; width: 300px; }
ul.sp-results li.viewall { width: 308px; height: 20px; text-align: right; color: #000; position: absolute; bottom: -30px; *bottom: -27px; left: 0px; background: url(http://images.apple.com/global/nav/images/shortcuts_bg_foot_grey.png) no-repeat left bottom; _background: url(http://images.apple.com/global/nav/images/shortcuts_bg_foot_grey.gif) no-repeat left bottom; border-style: none; }
ul.sp-results li.viewall a { color: #fff; padding-right: 23px; background: url(http://images.apple.com/global/nav/images/shortcuts_arrow.gif) no-repeat 99% 50%; padding-top: 3px; padding-bottom: 3px; font: bold 11px "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif; }
ul.sp-results li.hoverli { background: #b7b7b7 none repeat-x; color: #fff; cursor: pointer; }
ul.sp-results li.hoverli h4 a { color: #fff; }
ul.sp-results li.hoverli p { color: #f1f1f1; }
ul.sp-results li span.text { display: block; position: absolute; left: 68px; width: 240px; }
ul.sp-results li h4 { margin: 0; font-size: 11px; font-weight: bold; }
ul.sp-results li p { margin: 0; font-size: 10px; overflow: hidden; height: 2.7em; color: #555; }
ul.sp-results li a { color: #606060; text-decoration: none; }
ul.sp-results li img, 
ul.sp-results li .replacementimg { position: absolute; left: 10px; width: 46px; height: 46px; }
ul.sp-results li h4 a { color: #191919; }
ul.sp-results li.viewall.hover { background: url(http://images.apple.com/global/nav/images/shortcuts_bg_foot_grey.png) no-repeat bottom left; }
#sp-search-spinner { position: absolute; top: 13px; right: 16px; z-index: 10; display: none; }
#sp-search-cancel img { cursor: pointer; }
#sp-results .firstCat { position: absolute; top: -25px; left: 0; width: 308px; height: 8px; background: url(http://images.apple.com/global/nav/images/shortcuts_bg_head_grey.png) no-repeat left top; _background: url(http://images.apple.com/global/nav/images/shortcuts_bg_head_grey.gif) no-repeat left top; }
#sp-result-none.viewall {bottom: -27px; *bottom: -27px;}
#sp-result-none.viewall a { font-size: 10px; }

/*--- Global Footer (legacy) ---*/
#globalfooter .gf-buy { float: left; width: 60%; margin: 18px 0 9px; }
#globalfooter .gf-links { float: right; margin: 18px 0 9px; }
#globalfooter .gf-links a { padding: 0 10px; white-space: nowrap; }
#globalfooter .gf-links a.last { padding-right: 0; _float: none !important; width: auto !important; }

/*--- Global Footer ---*/
#globalfooter { width: 980px; color: #888; font-size: 10px; margin: 18px auto; padding-bottom: 36px; text-align: left !important; }
#globalfooter a { color: #08c; }
#globalfooter p { margin-bottom: 1em; }
#globalfooter p.gf-buy { float: left; width: 52%; margin: 18px 0 9px 3px; }
#globalfooter ul.piped a { padding: 0 0 0 1.5em; margin-left: 1.5em; border-left: 1px solid #d0d0d0; }
#globalfooter .gf-links { float: right; margin: 18px 3px 9px 0; }
#globalfooter .gf-sosumi { clear: both; width: 100%; border-top: 1px solid #ddd; padding-top: 9px; }
#globalfooter .gf-sosumi a { padding: 0 10px; }
#globalfooter .gf-sosumi p { float: left; margin-left: 3px; }
#globalfooter form { margin: 18px 10px; }
#globalfooter .search-wrapper { margin: 0 auto; }
#globalfooter .search-wrapper input.prettysearch { margin-left: 10px; }
#globalfooter ul.piped a.contact_us { padding-right: 1.5em; border-right: 1px solid #d0d0d0; }
#globalfooter ul.piped a.choose { margin-left: 0; border: 0; }
#globalfooter ul.piped a.choose img { vertical-align: middle; margin-top: -5px; position: relative; }

/*--- Breadcrumbs (legacy) ---*/
#globalfooter #breadcrumbs { font-size: 11px; color: #444; background: url(http://images.apple.com/global/nav/images/breadcrumb_bg.png) no-repeat; overflow: hidden; height: 36px; line-height: 34px; font-weight: bold; text-shadow: 0 1px 0 #fff; }
#globalfooter #breadcrumbs a { color: #444; text-decoration: none; float: left; padding: 0 10px; position: relative; margin-left: -10px; _cursor: hand; }
#globalfooter #breadcrumbs a:hover { color: #333; text-decoration: none !important; }
#globalfooter #breadcrumbs a.home { margin: 0; width: 15px; height: 0; padding-top: 36px; overflow: hidden; }
#globalfooter #breadcrumbs span { float: left; width: 9px; margin: 0 10px 0 0; position: relative; height: 0; padding-top: 34px; margin-top: 1px; overflow: hidden; background: url(http://images.apple.com/global/nav/images/breadcrumb_sep.png) no-repeat; }

/*--- Breadcrumbs ---*/
#globalfooter ol#breadcrumbs { font-size: 11px; color: #444; background: url(http://images.apple.com/global/nav/images/breadcrumb_bg.png) no-repeat; height: 36px; line-height: 34px; margin: 0; list-style: none; font-weight: bold; text-shadow: 0 1px 0 #fff; }
#globalfooter ol#breadcrumbs li { float: left; margin: 0; padding: 0 0 0 20px; background: url(http://images.apple.com/global/nav/images/breadcrumb_sep_20080909.png) no-repeat; }
#globalfooter ol#breadcrumbs li a { float: left; color: #444; text-decoration: none; padding: 0 10px; margin-left: -10px; }
#globalfooter ol#breadcrumbs li a:hover { color: #333; text-decoration: none; }
#globalfooter ol#breadcrumbs li.home { background: none; margin: 0; padding: 0; }
#globalfooter ol#breadcrumbs li.home a { margin: 0; padding: 0 10px; width: 15px; text-indent: -9999px; overflow: hidden; }


/* PRODUCTHEADER */
#productheader { position: relative; border-bottom: 1px solid #ddd; padding: 1em 0 0.2em; overflow: hidden; width: 980px; margin: 0 auto; *height: 39px; }
#productheader h1, 
#productheader h2 { height: 32px; line-height: 32px; display: inline; float: left; margin: 1px 0 6px 8px; padding: 0; margin-bottom: 6px !important; }
#productheader h1 a, 
#productheader h2 a { line-height: 32px; background-position: 0 0; background-repeat: no-repeat; color: #888; display: block; font-weight: normal; height: 32px; position: relative; outline: none; text-decoration: none; text-indent: -9999px; }
body#overview #productheader h1 a, 
body#overview #productheader h2 a { cursor: default; }

#productheader ul { display: inline; float: right; margin: 0; }
#productheader ul li { display: inline; }
#productheader ul li a { color: #999; float: left !important; margin-top: 1em; margin-left: 30px; margin-right: 8px; padding: 0; text-decoration: none; }
#productheader ul li a:hover { color: #08c; }

#productheader a.buynow,
#productheader a.ordernow,
#productheader a.joinnow,
#productheader a.preorder,
#productheader a.preorder_blue,
#productheader a.freetrial,
#productheader a.downloadnow,
#productheader a.upgradenow,
#productheader a.notifyme { height: 25px; margin: 0.8em 0 0 20px; background-position: 0 0; background-repeat: no-repeat; display: block; float: right; position: relative; text-decoration: none; text-indent: -9999px; outline: none; overflow: hidden; }

#productheader a.preorder_blue { width: 75px; background-image: url(http://images.apple.com/global/elements/buttons/preorder_blue.png); }
#productheader a.buynow { width: 72px; background-image: url(http://images.apple.com/global/elements/buttons/buynows.png); _background-image: url(http://images.apple.com/global/elements/buttons/buynows.gif); }
#productheader a.ordernow { width: 81px; background-image: url(http://images.apple.com/global/elements/buttons/ordernows.png); _background-image: url(http://images.apple.com/global/elements/buttons/ordernows.gif); }
#productheader a.joinnow { width: 72px; background-image: url(http://images.apple.com/global/elements/buttons/joinnows.png); _background-image: url(http://images.apple.com/global/elements/buttons/joinnows.gif); }
#productheader a.preorder { width: 99px; background-image: url(http://images.apple.com/global/elements/buttons/preordernows.png); _background-image: url(http://images.apple.com/global/elements/buttons/preordernows.gif); }
#productheader a.freetrial { width: 72px; background-image: url(http://images.apple.com/global/elements/buttons/freetrials.png); _background-image: url(http://images.apple.com/global/elements/buttons/freetrials.gif); }
#productheader a.downloadnow { width: 108px; background-image: url(http://images.apple.com/global/elements/buttons/downloadnows.png); _background-image: url(http://images.apple.com/global/elements/buttons/downloadnows.gif); }
#productheader a.upgradenow { width: 104px; background-image: url(http://images.apple.com/global/elements/buttons/upgradenows.png); _background-image: url(http://images.apple.com/global/elements/buttons/upgradenows.gif); }
#productheader a.notifyme { width: 75px; background-image: url(http://images.apple.com/global/elements/buttons/notifymes.png); _background-image: url(http://images.apple.com/global/elements/buttons/notifymes.gif); }

#productheader a.buynow:hover, #productheader a.buynow:focus,
#productheader a.ordernow:hover, #productheader a.ordernow:focus,
#productheader a.joinnow:hover, #productheader a.joinnow:focus,
#productheader a.preorder:hover, #productheader a.preorder:focus,
#productheader a.freetrial:hover, #productheader a.freetrial:focus,
#productheader a.downloadnow:hover, #productheader a.downloadnow:focus,
#productheader a.upgradenow:hover, #productheader a.upgradenow:focus,
#productheader a.notifyme:hover, #productheader a.notifyme:focus { background-position: 0 -25px; }

#productheader a.buynow:active,
#productheader a.ordernow:active,
#productheader a.joinnow:active,
#productheader a.preorder:active,
#productheader a.freetrial:active,
#productheader a.downloadnow:active,
#productheader a.upgradenow:active,
#productheader a.notifyme:active { background-position: 0 -50px; }


/* PRINT */
@media print {
	body, #main, #content { color: #000 !important; }
	a, a:link, a:visited { color: #000 !important; text-decoration:none !important; }
	#tabs, #globalheader, #globalfooter, #directorynav, .noprint, .hide { display: none !important; }
	#main a.pdf, #main a.html, #main a.qt, #main a.ical, #main a.dl, #main a.dmg, #main a.zip, #main a.keynote, #main a.audio { padding-left: 0 !important; background-image: none !important; }
}

/* iPhone */
@media screen and (max-device-width: 480px) { html { -webkit-text-size-adjust: none; } }





